<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>
<body>
	<header class="page-header">

		<span class="logo">SuperDuperMagicChat</span>

		<nav class="main-navigation">
			<a href="/">Home</a>
			<a href="/new-message">New Message</a>
		</nav>

		<div class="user-info">
			{% if current_user.is_authenticated %}
				Hello {{ current_user.first_name }}
				<a href="/edit-user">Edit Details</a> | 
				<a href="/sign-out">Sign out</a>
			{% else %}
				<a href="/new-user">Create user</a> | 
				<a href="/sign-in">Sign in</a>
			{% endif %}
		</div>
	</header>

	<section class="page-content">
		
	{% block content %}{% endblock %}

	</section>
</body>
</html>